
.form_checkout{
    width: 1140px;
    margin: 0 auto;
    padding-top: 50px;
}
.checkout{
    display: flex;
}
.line{
    width: 640px;
    border-bottom: 2px solid #e0e0e0;
}
.info_checkout{
    width: 670px;
    padding-top: 20px;
}
.checkout-title{
    font-size: 18px;
    font-weight: 400;
}
.label{
    font-size: 14px;
    color: #000000;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 5px;
}
.info>p>input{ 
    width: 640px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
.info>p>input:focus{
    box-shadow: 0 0 10px #e0e0e0;
}
.info_additional{
    padding-top: 25px;
}
.info_additional>p>textarea{
    width: 640px;
    height: 120px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    outline: none;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
.info_additional>p>textarea:focus{
    box-shadow: 0 0 10px #e0e0e0;
}

.bill_chekckout{
    width: 470px;
    padding: 20px;
    border: 2px solid #00000082;
}
.order_title{
    font-size: 18px;
    font-weight: 400;
}
.order_review{
    padding-top: 20px;
}
.shop_table{
    width: 425px;
}
.shop_table>thead>tr{
    width: 425px;
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #e0e0e0;
    padding-bottom: 5px;
}
.shop_table>thead>tr>th{
    text-transform: uppercase;
    font-size: 15px;
    color: #3f3f3f;
}
.product-name{
    padding-top: 7px;
}
.product-total{
    width: 50px;
}
.shop_table>tbody>tr{
    display: flex;
    justify-content: space-between;
    width: 425px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
}
.shop_table>tbody>tr>td{
    margin-top: 10px;
    font-size: 16px;
    color: #3f3f3f;
}
.product-price{
    color: black;
}
.shop_table>tfoot>tr{
    display: flex;
    justify-content: space-between;
    width: 425px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}
.shop_table>tfoot>.order-total{
    border-bottom: 3px solid #e0e0e0;
}
.shop_table>tfoot>tr>th,td{
    margin-top: 10px;
    font-size: 16px;
    color: #3f3f3f;
}
.payment_methods_bacs{
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}
.payment_methods>li{
    list-style: none;
}
.payment_methods>li>label{
    font-weight: 500;
    font-size: 16px;
    padding-left: 10px;
}
.payment_box{
    padding-top: 10px;
    line-height: 1.5;
    font-size: 16px;
}
.payment_method_bacs,
.payment_method_cod{
    color: #3f3f3f;
}
.button{
    margin: 30px 0 25px 0;
    width: 100px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: orange;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.button:hover{
    background-color: #cc7000;
}
.privacy-policy-text{
    line-height: 1.5;
    font-size: 16px;
    color: #3f3f3f;
    padding-bottom: 25px;
}

.section__content{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 0;
}

.content__item{
    width: 387px;
    height: 495px;
    margin: 0 15px;
}

.content__item-title{
    font-size: 2rem;
    margin-bottom: 20px;
}

.content__item-img{
    width: 180px;
    height: 60px;
}

.content__item-text{
    font-size: 1.5rem;
    color: rgb(77, 77, 77);
    margin: 25px 0;
}

.content__item-text>p{
    color: black;
    margin: 10px 0;
}

.content__item-text-green{
    color: #00b214;
    font-weight: bold;
    margin-bottom: 10px;
}

.content__item-text-fanpage-link{
    text-decoration: none;
    color: black;
}

.content__item-text-fanpage-link:hover{
    color: orange;
}

.content__link-icon{
    text-decoration: none;
}

.content__link-icon>img{
    width: 33px;
    text-decoration: none;
}

.content__list-item{
    margin: 20px;
}

.content__list-item>a{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}

.content__list-item>a:hover{
    color: orange;
}

